.login-logo{
    margin-left: 40%;
    margin-top:30px;
    height: 50px;
}

.login-area{
    position:absolute;
    align-items:center;
    text-align: center;
    padding: 50px;
    width: 470px;
    height: 460px;
    margin-left: 33%;
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #ababab;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 10px grey ;
}

.login-title{
    font-size: 20px;
}

.account-area{
    position:absolute;
    align-items:center;
    text-align: center;
    padding: 30px;
    width: 570px;
    height: 620px;
    margin-left: 438px;
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #ababab;
    border-radius: 5px;
    BOX-sizing: border-box;
    padding: 20px;
}

.btn-log{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    background-color: #275A53;
}

.btn-social{
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    width: 280px;
    font-size: 16px;
}

.input-area{
    margin-top: 15px;
    margin-bottom: 10px;
}

.forgot{
    align-items: right;
    float: right;
    padding-left: 30px;
}

.fb-icon{
    color: rgb(24, 74, 211);
}

.g-icon{
    color: red;
}