.footer-content{

}
.footer-content h6{
text-align: center;
color: #fff;
}
.footer-content ul{
list-style: none;
}
.footer-content ul li{

}
.footer-content ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-content p{
color: #fff;
}